<!DOCTYPE html>
<html lang="en">
<head>

	<style>
      td{
        
         width: 23px;
         min-width: 3px;
         max-width: 10px;
         height: 40px;
         min-height: 5px;
         max-height: 34px;
         line-height: 12px;
         vertical-align: 5px;


      	}


	</style>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    	<td>
    		<tr>
    			Detalles del modelo de formato visual

    		</tr>
    		<tr>
    			Detalles del modelo de formato visual

    		</tr>
    	</td>
</body>
</html>   