<!DOCTYPE html>
<html lang="en">
<head>
<style>
	td{
      cursor:auto;
      outline-width: 20px;
      outline-color: ffffff;
      outline-style: none;
      outline: auto;
      speak-header: always;


	}


</style>	
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<td>
		
		<tr>
			interfaz de usuario
		</tr>
		<tr>
			interfaz de usuario
		</tr>
	</td>
</body>
</html>